body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.5em;
    font-size: 1.25em;
}
h1, h2 {
    line-height: 1.75em;
}

header, footer {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 0.75em;
    background-color: black;
    color: #cccccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

nav {
    flex-grow: 1;
    background-color: #dddddd;
    padding-left: 1em;
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main {
    width: 65vw;
    flex-grow: 2;
}

main > * {
    margin: 0;
    padding: 1.5em;
}

a {
    text-decoration: none;
}

section > p:last-child {
    margin-bottom: 3em;
}

.long-quote,
.alert {
    border-radius: 10px;
    margin: 1.5em;    
}

.long-quote {
    padding: 1.25em;
    background-color: rgba(244, 165, 96, 0.6);
}

.alert {
    background-color: rgba(207, 167, 167, 0.5);
    color: darkred;
}

.my-note {
    color:darkgreen;
}

code {
    background-color: black;
    color: white;
    padding: 0.25em;
}

details {
    background-color: lavender;
}

details > * {
    padding: 0.5em;
}

summary {
    font-size: 1.15em;
    font-weight: bold;
}

ol {
    margin-right: 5em;
}

ol > li {
    margin-bottom: 1em;
    padding: 1em;
    background-color: lavender;
    border-radius: 10px;
}

h2 {
    background-color: rgb(245, 245, 245);
}

.tag-category-wrapper {
    display: flex;
}

.tag-category {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 1em;
    padding: 1em 2em 1em 2em;
}

.tag-category>*:first-child {
    font-weight: bold;
}

/* Table Element*/
table {
    width: 50vw;
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

.table-head {
    text-align: left;
}

.element, .desciption {
    padding: 0.25em;
    vertical-align: top;

    border: #999999 1px solid;
    background-color: rgba(235, 235, 235, 0.5);
}

.element {
    width: 10vw;
}


@media only screen and (max-width: 964px) {

    nav {
        display: flex;
        justify-content: center;
    }

    nav > *,
    main > * {
        padding: 0.5em;
    }

    .menu {
        position: relative;
    }

    main {
        width: 100vw;
    }

    table {
        width: 90vw;
    }

    
.tag-category-wrapper {
    flex-direction: column;
}

    }