body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    font-size: 1.2em;
}

header, footer {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 0.75em;
    background-color: black;
    color: #cccccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

nav {
    background-color: #dddddd;
    flex-grow: 1;
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main {
    width: 70vw;
    flex-grow: 2;
}

main > * {
    margin: 0;
    padding: 1.25em;
}

a {
    text-decoration: none;
}

details {
    background-color: lavender;
}

summary {
    font-size: 1.15em;
    font-weight: bold;
}

ol > li {
    padding-bottom: 1em;
}

details > * {
    padding: 0.5em;
}

h2 {
    background-color: rgb(245, 245, 245);
    ;
}

.tag-category-wrapper {
    display: flex;
}

.tag-category > ul {
    padding-right: 5em;
}

/* Table Element*/
table {
    min-width: 50vw;
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

th, td {
    border: black 1px solid;
}

th {
    background-color: gainsboro;
}

@media only screen and (max-width: 964px) {

    nav {
        display: flex;
        justify-content: center;
    }

    .menu {
        position: relative;
    }

    main {
        width: 100vw;
    }

    table {
        width: 90vw;
    }

    .tag-category > ul {
        padding-right: 1em;
    }

    }