:root {
    font-size: 20px;
  }

  body, header, h1, nav, main, footer {
    padding: 1em;
  }

  h2, ul, li, details, p, button, select {
    padding: 0.65em;
  }

  summary, p {
    margin-left: 1em;
  }

  header > p {
    margin-left: 0;
  }

  main > ul {
    margin-left: 1em;
  }

  section > p:last-child,
  ol > li:last-child {
    padding-bottom: 2em;
  }

  body {
    box-sizing: border-box;
    font-family: "Arial";
    background-color: midnightblue;
  }
  
  header {
    background-color: lightcyan;
  }
  
  h1,
  .title-summary,
  nav > ul,
  footer {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 0;
    background-color: steelblue;
  }
  
  .title-summary {
    background-color: powderblue;
  }

  .nav_main {
    display: flex;
  }
  
  nav {
    background-color: cadetblue;
    border-right: 15px solid darkred;
  }
  
  nav > ul {
    list-style-type: none;
    width: 20vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: mediumaquamarine;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
  
  nav > ul > * {
    padding: 0;
    width: 100%;
    min-height: 8vh;
    background-color: paleturquoise;
  }

  a {
    text-decoration: none;
  }

  nav > ul > a:hover,
  nav > ul > a:active {
    transition: 0.2s;
    background-color: orange;
  }

  main {
    background-color: orange;
  }

  section {
    line-height: 1.15em;
  }

  code {
    white-space: pre-wrap;
    font-size: 0.8em;
    color: wheat;
    background-color: black;
  }

  .block-code {
    display: block;
}

  section {
    background-color: lemonchiffon;
  }
  
  h2 {
    background-color: peachpuff;
  }

  #template-space {
    display: block;
    background-color: gainsboro;
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    
    width: 50vw;
    height: 30px;
    text-align: center;
    line-height: 20px;
    color: white;
    margin-top: 1em;
  }

  footer {
    background-color: palevioletred;
  }


  @media only screen and (max-width: 950px) {

    h2, .title-summary, ul, li {
        padding: 0.5em;
      }

    .nav_main {
        flex-direction: column;
    }
     
      nav {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background-color: cadetblue;
      }

      nav > ul {
        flex-direction: row;
        min-height: 10vh;
        width: 100%;
    }


}